html,body{
    margin:0;
    padding:0;
}

.navbar{
    display:flex;
    align-items: center;
    position:sticky;
}

.title{
    font-family:'Abhaya Libre';
    font-weight: 700;
    margin-left:auto;
    margin-right:auto;
}

.menu-nav{
    margin-left:1em;
    cursor: pointer;
}

.row-content-1{
    display:flex;
}

.row-content-1 > *{
    width:50%;
}

.c1{
}

/* tablet */
@media only screen and (max-width: 768px) and (min-width:321px) {
    body{
    }
}

@media only screen and (max-width:320px){
    body{
        background-color:green;
    }
}